<?xml version="1.0" encoding="utf-8"?>
<appSettings>
<add key="CustomerKey" value="0tE2BMrZDUJWPlBA4hVILQ6rR" />
<add key="CustomerKeySecret" value="gsPvtBOlswBGNdqx035tiHIoQUSFXVdL1ldqHB7EhgEfaKPH34" />
<add key="AccessToken" value="911687372529643522-v5MaXvflkLU9zSKnJaNC3P7Bek0SALw" />
<add key="AccessTokenSecret" value="zxsmcBgMXodq9pPYNBESwWsSFv5yDLVVHkutp67Q33L3c" />
</appSettings>