<?xml version="1.0" encoding="utf-8"?>
<appSettings>
<add key="CustomerKey" value="dVVZcETjEOqHGIveIpbvpwFjy" />
<add key="CustomerKeySecret" value="e7ETdM1IvvFnLnDQspJ008alr22WBXGxh7wguOAwgNfs7rxL6w" />
<add key="AccessToken" value="911687372529643522-v5MaXvflkLU9zSKnJaNC3P7Bek0SALw" />
<add key="AccessTokenSecret" value="zxsmcBgMXodq9pPYNBESwWsSFv5yDLVVHkutp67Q33L3c" />
</appSettings>